* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

main{
    margin: 0rem 3rem;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin: 4rem;
}

.project-box a img{
    width: 2rem;
}

article {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    margin: 2rem 2rem;
    padding: 2rem;
}

.images-slider {
    margin: 2rem;
}

.project-heading {
    font-size: 2.5rem;
    margin: 2rem 0rem;
}

.images-slider a {
    position: absolute;
    margin-top: -7rem;
    margin-left: 17rem;
}

.images-slider a img {
    width: 3rem;
    height: 3rem;
}

.images-slider a img:hover{
    transition: all 400ms ease-in-out;
    border-radius: 100%;
    background-color: #8257e6;

}

.buttons-container{
    position: absolute;
    display: flex;
    margin-top: -3rem;
}

.buttons-container button {
    padding: 0.4rem 1rem;
    margin: 0rem 7rem;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
}

.buttons-container button:hover {
    transition: all 200ms;
    background-color: gray;
}

.slides {
    display: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 4rem 2rem;
    background: rgba(0, 0, 0, 0.05);
}

.slides img, .slides video {
    width: 30vw;
    height: 30vh;
    box-shadow: 3px 7px 13px rgba(0, 0, 0, 0.25);
}

.slides video {
    object-fit: cover;
}